* {
  font-family: 'Cantarell', sans-serif;
  font-family: 'Roboto', sans-serif
}

html, body, header {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

main {
  /* background-color: black; */
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 100%
}

h1 {
  margin: auto;
  width: 50%
}

article {
  background-color: white;
  padding: 25px;
  margin: auto;
  width: 50%
}

canvas {
  display: block;
}

iframe {
  width: 500px;
  height: 500px;
}

#sketch-buttons {
  list-style: none;
}

#sketch-buttons li {
  padding: 5px
}